<!DOCTYPE html>
<html>
    <head>
        <title>k8s node {{node_ip}}</title>
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>
